body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
}

#countdown {
  color: red;
}
#result {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.winResult {
  color:greenyellow;
  font-weight: 900;
  font-size: x-large;
}

.loseResult {
  color:rgb(255, 47, 47);
  font-weight: 900;
  font-size: x-large;
  text-align: center;
}

.resultadoComparacion {
  font-weight: 900;
  color: #333;
}

#restart {
  margin-top: 20px;
  color: white;
  background-color:rgba(37, 128, 246, 0.855);
  height: 30px;
  
}

.bomba {
  width: 200px;
}